<h2>Add New Person</h2>
<form action="/people/create" method="post" autocomplete="off">
  <div class="mb-3">
    <label class="form-label">Name:</label>
    <input class="form-control" type="text" name="name" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Lastname:</label>
    <input class="form-control" type="text" name="lastname" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Birthdday:</label>
    <input class="form-control" type="date" name="birthday" required>
  </div>
  <button class="btn btn-primary" type="submit">Create</button>
</form>